In [1]:
def square(n):
    return n*n
    
a=square(3)
print(a)

9

In [2]:
def maximum(a,b):
    if a>=b:
        max=a
    else:
        max=b
    return max

maximum(4,3)

4

In [3]:
def 요금(무게):
    if 무게>=20:
        print("2만원")
    else:
        print("수수료 없음")
        
요금(35)

2만원

In [4]:
def 날짜출력(month,last):
    for day in range(1,last+1):
        print(month,day)
        
날짜출력(1,31)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
1 20
1 21
1 22
1 23
1 24
1 25
1 26
1 27
1 28
1 29
1 30
1 31

Television 리모콘과 같은 기능을 만들어보자

In [5]:
class Television():
    def __init__(self, volume, power):
        self.volume=volume
        self.power=power
        
    def show(self):
        print(self.volume,self.power)
    
    def max(self):
        self.volume=100
        
    def min(self):
        self.volume=0
        
    def mute(self):
        self.volume='mute'
        
    def on(self):
        self.power=True
        
    def off(self):
        self.power=False

In [6]:
TV=Television(5,True)

In [7]:
TV.volume

5

In [8]:
TV.max()

In [9]:
TV.volume

100

In [10]:
TV.off()

In [11]:
TV.power

False

In [12]:
TV.show()

100 False

계산기

In [13]:
class Calculator:
    def __init__(self):
        self.value=0
        
    def add(self,number):
        self.value+=number
        
    def sub(self,number):
        self.value-=number
        
    def mul(self,number):
        self.value*=number
        
    def div(self,number):
        self.value/=number

In [14]:
C=Calculator()
C.add(3)
C.add(2)
C.sub(1)
C.mul(3)
C.div(6)
print(C.value)

2.0

끝말잇기

In [17]:
word1=input()
word_list=[]

for i in range(1,100):
    word2=input()
    
    if word1[-1]==word2[0]:
        print(word1,word2,"pass")
        word_list.append(word2)
        word1=word2
        
    elif word1[-1]!=word2[0]:
        print(word1,word2,"break")
        break
        
    elif word2 in word_list:
        print(word_list,word2,"break")
        break

기차
차도
기차 차도 pass
도시락
차도 도시락 pass
락페스티벌
도시락 락페스티벌 pass
벌집
락페스티벌 벌집 pass
지구
벌집 지구 break