In [1]:
age=19
if(age>=19):
    print("마트에서 주류를 구입할 수 있습니다.")
   
else:
    print("조금 기다리세요!")

마트에서 주류를 구입할 수 있습니다.

In [2]:
input1=139
input2=4

if((input1>=140)and(input2>=2.0)):
    print("졸업을 할 수 있습니다.")
    
else:
    print("졸업을 할 수 없습니다.")

졸업을 할 수 없습니다.

In [2]:
number=int(input("정수 입력: "))
if number%2==0:
    print("짝수")
else:
    print("홀수")

정수 입력: 4
짝수

In [1]:
value=int(input("값을 입력하시오: "))
if value>0:
    print("양수")
elif value<0:
    print("음수")
else:
    print('0')

값을 입력하시오: 4
양수

In [4]:
input1=int(input("이수학점을 입력하시오:"))
input2=float(input("평점을 입력하시오:"))
if((input1>=140)and(input2>=2.0)):
    print("졸업을 할 수 있습니다.")
    
else:
    print("졸업을 할 수 없습니다.")

이수학점을 입력하시오:150
평점을 입력하시오:1.9
졸업을 할 수 없습니다.

In [5]:
price=int(input("가격을 입력하시오: "))
if price>=100000:
    print(price*0.95)
else:
    print(price)

가격을 입력하시오: 5000
5000

In [6]:
text=str(input("문자를 입력하시오: "))
if len(text)%2==0:
    center=len(text)//2
    print(text[center-1:center+1])
else:
    center=len(text)//2
    print(text[center])

문자를 입력하시오: 김현서
현

In [7]:
text=str(input("문자를 입력하시오: "))
if len(text)%2==0:
    center=len(text)//2
    print(text[center-1:center+1])
else:
    center=len(text)//2
    print(text[center])

문자를 입력하시오: abcd
bc